h1{
    color: rgb(159, 196, 155);
    
}
span{
    color:rgb(89, 163, 89)
}
.sp{
    color: (2,2,2)

}
.spo{
    color: rgb(89, 163, 89);
    font-weight: bold
}
.des{
    font-size: 22px
}
.create{
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
}
.container{
    text-align: center;
    border-width:5px;
    border-style:solid;
    border-color:rgb(58, 57, 57);
    width: 550px;
    box-shadow: 2px 2px 10px rgba(0.0.0.3);
    background-color: rgb(252, 247, 247)
}
.full{
    color:green ;
    
}
.alert{
    color:red;
    text-decoration: underline;
    font-style: italic
}
.bod{
    background-color: rgb(168, 243, 168)
}